.completedproject {
    background-color: @backcolor;
}
.completedproject__topwrap {
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    padding-bottom: 36px;
}
.completedproject__headtext {
    font-weight: 400;
    font-size: 22px;
    line-height: 139%;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    text-align: center;    
    color: @textbright;
    word-break: break-word;
    margin-bottom: 29px;
}
.completedproject__text {
    font-weight: 400;
    font-size: 10px;
    line-height: 170%;
    text-align: center;
    color: @textmain;    
    padding-left: 10px;
    padding-right: 10px;
}
.completedproject__caruselblock {
    margin-top: 36px;
}
.completedproject__slide {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.completedproject__slideimg {
    margin-bottom: 30px;
}
.completedproject__slideinfo {
    display: grid;
    grid-template-columns: 46% 54%;
    grid-row-gap: 35px;
}
.completedproject__slidemaintext {
    font-weight: 400;
    font-size: 14px;
    line-height: 139%;
    text-transform: uppercase;
    color: @textbright;  
    margin-bottom: 13px;  
}
.completedproject__slidetext {
    font-weight: 400;
    font-size: 11px;
    line-height: 136%;
    color: @textmain;    
    word-break: break-word;
    width: 105px;
}